/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#product-details {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

#image-gallery {
    flex: 2;
    padding: 1rem;
}

#main-image {
    width: 40%;
    height: auto;
}

.thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnails img {
    width: 50px;
    cursor: pointer;
    margin: 5px;
}

#product-info {
    flex: 3;
    padding: 1rem;
}

#reviews, #related-products {
    padding: 1rem;
    
}
#related-products-carousel img{
    /* display: flex; */
width: 10%;
height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    #product-details {
        flex-direction: column;
    }
}
